/* Blog layout */
main {
  max-width: 720px;
  margin: 0 auto;
  padding: 1.5rem;
}

/* Typography */
article h1 {
  font-size: 2.2rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

article h2 {
  text-shadow: none !important;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 0.8rem;
}

article p {
  margin-bottom: 1.2rem;
}

article ul {
  margin-left: 1.2rem;
  margin-bottom: 1.2rem;
}

article li {
  margin-bottom: 0.5rem;
}

/* Blog index */
section article {
  margin-bottom: 3rem;
}